<!doctype html>
<html lang="ru">
  <head>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lcu7IMjAAAAAOntHt2zqIEplWGGXm8PVPhmWIL4"></script>  
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <title>Замковые панели Novattro PROF для промышленных объектов</title>
    <meta name="description" content="Остекление ленточных фасадов и теплых кровель из многослойных замковых панелей Novattro PROF из сотового поликарбоната. Экономия на металлоконструкции.">
    <meta name="robots" content="index,follow">
    <link rel="canonical" href="https://safplast.ru/novattro-prof">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://safplast.ru/novattro-prof">
    <meta property="og:title" content="Замковые панели Novattro PROF для промышленных объектов">
    <meta property="og:description" content="Остекление ленточных фасадов и теплых кровель из многослойных замковых панелей Novattro PROF из сотового поликарбоната. Экономия на металлоконструкции.">
    <meta property="og:image" content="https://safplast.ru/img/og-novattro-prof.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Замковые панели Novattro PROF для промышленных объектов">
    <meta name="twitter:description" content="Остекление ленточных фасадов и теплых кровель из многослойных замковых панелей Novattro PROF из сотового поликарбоната. Экономия на металлоконструкции.">
    <meta name="twitter:image" content="https://safplast.ru/img/og-novattro-prof.jpg">
    
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/novattro.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    
    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/45a9c6c2c7.js" crossorigin="anonymous"></script>
    <script src="js/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>new WOW().init();</script>
    
    <!-- VK Retargeting -->
    <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?168",t.onload=function(){VK.Retargeting.Init("VK-RTRG-511419-fPD31"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script>
    <noscript><img src="https://vk.com/rtrg?p=VK-RTRG-511419-fPD31" style="position:fixed; left:-999px;" alt=""/></noscript>
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js', 'ym');

        ym(65361109, 'init', {clickmap:true, accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/65361109" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </head>

  <body>
    <header>
      <nav class="navbar smart-scroll navbar-expand-xl">
        <div class="container-fluid">
          <div class="safplast-digital">
            <div>Материалы Novattro&trade;: 
            <a href="/" class="safplast-link main safplast-active">Замковые панели Novattro PROF</a>
            <a href="https://safplast.ru/products/sotovyy-polikarbonat-novattro/" target="_blank" class="safplast-link main">Сотовый поликарбонат Novattro</a>
            <a href="https://safplast.ru/products/monolitnyy-polikarbonat-novattro/" target="_blank" class="safplast-link main">Монолитный поликарбонат Novattro</a></div>
            <div class="lang-selector">
              <a href="https://novattro-prof.ru"><div class="lang-ru">RU</div></a>
              <a href="https://safplast.eu/novattro-prof"><div class="lang-en">EN</div></a>
            </div>
          </div>
        </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <div class="logo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample06">
          <ul class="navbar-nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="#">Начало</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#compare">Преимущества</a>
            </li>
            <li class="nav-item nav-promo">
              <a class="nav-link promo" href="#calculator">Расcчитать конструкцию</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#types">Ассортимент</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#kuznetcov">Поддержка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#objects">Наши объекты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#video">Видео</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#buy">Купить</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section id="hero">
      <div class="container container-unlimited container-fullscreen">
        <div class="pc-container row">
          <div class="pc-content col">
            <div class="top-background">
              <div id="header" class="container-fluid"></div>
              <div class="container-fluid" style="padding-top: 80px">
                <span class="main-heading">
                  <h1>&nbsp;Замковые панели Novattro PROF&nbsp;<br />&nbsp;для промышленных объектов&nbsp;</h1>
                </span>
                <div class="main-subheading">
                  Остекление ленточных фасадов и теплых кровель из многослойных
                  <a href="https://safplast.ru/products/zamkovye-paneli-novattro/" target="_blank">замковых панелей Novattro PROF</a> из сотового поликарбоната Novattro
                  <div class="subheading-li first-li waterproof">Герметичное соединение</div>
                  <div class="subheading-li easy">Простой монтаж</div>
                  <div class="subheading-li beauty">Привлекательный внешний вид</div>
                </div>
                <div style="padding-bottom: 40px">	 
                  <button type="button" data-toggle="modal" data-target="#call" class="btn main-btn">Получить бесплатную консультацию</button>               <br><br>
                  <a href="https://safplast.ru/upload/pdf-dokumenty/book_album.pdf"><button type="button" class="btn main-btn-orange">Технические решения</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="compare">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 section-heading">
           Преимущества <span>Novattro PROF</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="about-icon cube-icon"></div>
            <div class="about-text">
              <h3 class="about-heading">Удобное соединение  и<br />набор комплектующих</h3>
              <p>Мы предусмотрели весь необходимый крепеж и профили в инженерной системе комплектующих Novattro PROF</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="about-icon save-icon"></div>
            <div class="about-text">
              <h3 class="about-heading">Обладают высокой<br /><span>энергоэффективностью</span></h3>
              <p>Теплосберегающие панели Novattro&trade; PROF с замковым креплением сохраняют тепло внутри помещения. Теплопередача не превышает 1,1 Вт/м2*К (для панели 40мм)</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="about-icon warranty-icon"></div>
            <div class="about-text">
              <h3 class="about-heading">Не пожелтеют и не потрескаются.<br />Или <span>вернём деньги</span></h3>
              <p>На панели наносится равномерный УФ-защитный слой — защищает кровлю или фасад от помутнения и разрушения</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="about-icon quality-icon"></div>
            <div class="about-text">
                <h3 class="about-heading">Строгий <span>контроль качества</span><br />и современное оборудование</h3>
                <p>Высокое качество изготовления и строгий контроль качества продукции гарантируют срок эксплуатации более 20 лет и отсутствие брака</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 section-heading">
            В сравнении с другими материалами
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="compare-block">
              <div class="row">
                <div class="col-md-6">
                  <div class="compare-content">
                    <div class="compare-heading">Замковые панели</div>
                    <div class="compare-line plus">
                      Легкие и прочные
                    </div>
                    <div class="compare-line plus">
                      Сохраняют тепло
                    </div>
                    <div class="compare-line plus">
                      Уникальный внешний вид
                    </div>
                    <div class="compare-line last-line plus">
                      Просты в монтаже
                    </div>
                  </div>
                </div>
                <div class="col-md-6"><div class="compare-preview prof-preview"></div></div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="compare-content">
                    <div class="compare-heading">Обычный сотовый поликарбонат</div>
                    <div class="compare-line minus">
                      Термическое расширение
                    </div>
                    <div class="compare-line minus">
                      Неудобные размеры листов
                    </div>
                    <div class="compare-line last-line minus">
                      Затрудненный монтаж
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="compare-content">
                    <div class="compare-heading">Обычный профлист</div>
                    <div class="compare-line minus">
                      Перегревается
                    </div>
                    <div class="compare-line minus">
                      Тяжелый
                    </div>
                    <div class="compare-line last-line minus">
                      Не пропускает свет
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section id="objects">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-left section-heading">
        Объекты применения <span>Novattro&trade; PROF</span>
      </div>
    </div>
  </div>
  
  <div class="container-unlimited">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
      </ol>

      <div class="carousel-inner">
        
        <div class="carousel-item active" style="background-image:url('img/sokolniki.webp'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Теннисный корт с использованием эксклюзивных панелей с группой горючести Г1 — Novattro PROF 600-40-7U FR White/BG HB Decor</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/poly.webp'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Мультиформатное пространство и магазин концептуальных товаров для дома в Липецке</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/our-objects/Nike.jpg'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Оригинальное дизайнерское решение в павильоне Nike в Москве — внутренние стены из фасадных панелей Novattro PROF</p>
            </div>
          </div>
        </div> 

        <div class="carousel-item" style="background-image:url('img/sibur.webp'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Современный многофункциональный экопавильон «СИБУР» на бульваре Серова в Казани с теплым остеклением</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/kuyuki.webp'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Фасадная панель Novattro PROF толщиной 16 мм цвета «опал» в Казанском городском округе</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/church.webp'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Светопрозрачная церковь в Якутии, выдерживающая экстремально низкие перепады температуры до -50°C</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/fizra.webp'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Теплое остекление фасада для спортивного комплекса из светопрозрачной модульной системы панелей Novattro PROF</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/safplast.webp'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Остекление фасада производителя Novattro PROF, завода «СафПласт», в Казани</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/our-objects/Energetic-Bugulma.jpg'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Для стадиона "Энергетик" в Бугульме подобрана оригинальная цветовая композиция из трех видов кровельных панелей Novattro PROF</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/home.webp'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Дизайнерское решение внедрения замковых панелей Novattro PROF в спальную комнату нашего сотрудника завода «СафПласт»</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('https://sun9-29.userapi.com/7samFu04m7pUq81rj6wNpnvox8qDXrWEqHegNA/76MGFGeg2so.jpg'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Бронзовая кровельная конструкция на инфраструктурном объекте ОАО "РЖД", в сочетании с антивандальным остеклением Novattro</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/rest.webp'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Светопрозрачная кровля из Novattro PROF обеспечила террасу воздушностью и теплотой в ресторане Уфы</p>
            </div>
          </div>
        </div>     

        <div class="carousel-item" style="background-image:url('img/our-objects/Kazan-CarPark.jpg'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Novattro PROF радует обладателей навесов для автомобилей, благодаря простому монтажу и легкости материала</p>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image:url('img/our-objects/Vegetaiy.jpg'); background-position: center center;">
          <div class="container">
            <div class="carousel-caption text-center">
              <p>Нестандартное применение теплых замковых панелей Novattro PROF в частном вегетарии</p>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>


    <section id="types">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center section-heading">
            Виды <span>замковых панелей</span> для остекления, кровли и фасада
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center types-subheading">
            Замковые панели из поликарбоната бывают нескольких видов — они отличаются типом замкового крепления, толщиной и шириной панели, количеством слоёв поликарбоната.<br />
            Мы поможем Вам выбрать тот тип панели, который подойдет для Вашего объекта.
          </div>
        </div>
        <div class="row">
          <div class="col-sm text-center">
            <img class="rounded img-fluid" src="img/locks/10-4C.jpg">
            <div class="type-name">PROF 330 10-4C</div>
            <div class="type-caption">Кровельная панель шириной 330мм, толщиной 10мм, 4 слоя, верхний замок (Cup)</div>
          </div>
          <div class="col-sm text-center">
            <img class="rounded img-fluid" src="img/locks/16-5S.jpg">
            <div class="type-name">PROF 330 16-5S</div>
            <div class="type-caption">Фасадная панель шириной 330мм, толщиной 16мм, 5 слоёв, боковой замок (Side)</div>
          </div>
          <div class="col-sm text-center">
            <img class="rounded img-fluid" src="img/locks/25-5C.jpg">
            <div class="type-name">PROF 600 25-5C</div>
            <div class="type-caption">Кровельная панель шириной 600мм, толщиной 25мм, 5 слоёв, верхний замок (Cup)</div>
          </div>
          <div class="col-sm text-center">
            <img class="rounded img-fluid" src="img/locks/40-7S.jpg">
            <div class="type-name">PROF 500 40-7S</div>
            <div class="type-caption">Фасадная панель шириной 500мм, толщиной 40мм, 7 слоёв, боковой замок (Side)</div>
          </div>
          <div class="col-sm text-center">
            <img class="rounded img-fluid" src="img/locks/40-7U.jpg">
            <div class="type-name">PROF 600 40-7U</div>
            <div class="type-caption">Кровельная панель шириной 600мм, толщиной 40мм, 7 слоёв, верхний замок с U-коннектором</div>
          </div>
        </div>
      </div>
    </section>

    <section id="calculator" class="wow slideInLeft">
      <div class="container-fluid" id="configuratorInterface">
        <div class="row">
          <div class="col-md-12 section-heading calculator-head">
            Получите <span>бесплатный</span> расчёт навеса
          </div>
        </div>
        <div class="row select-type">
          <div class="col-md-4">
            <h5 class="subheading">Тип конструкции</h5>
            <input type="radio" id="odnoskat" name="type" value="0" v-model="selectRoofType" @change="ApplyChanges">
            <label for="odnoskat" class="object-type">
              <img src="img/odnoskat.png" height="40px">
              Односкатная кровля
            </label>
            <input type="radio" id="dvuskat" name="type" value="1" v-model="selectRoofType" @change="ApplyChanges">
            <label for="dvuskat" class="object-type">
              <img src="img/dvuskat.png" height="40px">
              Двускатная кровля
            </label>
            <input type="radio" id="arka" name="type" value="2" v-model="selectRoofType" @change="ApplyChanges">
            <label for="arka" class="object-type">
              <img src="img/arka.png" height="40px">
              Арочная кровля
            </label>
            <input type="radio" id="facade" name="type" value="3" v-model="selectRoofType" @change="ApplyChanges">
            <label for="facade" class="object-type">
              <img src="img/facade.png" height="40px">
              Фасад, забор, стена
            </label>
            <h5 class="subheading">Цвет панелей</h5>
            <input type="radio" id="clear" name="color" value="0" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="clear">
              <div class="color-preview" style="background-color: #ebebeb;"></div>
              Прозрачный
            </label>
            <input type="radio" id="bronze" name="color" value="1" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="bronze">
              <div class="color-preview" style="background-color: #836a5b;"></div>
              Бронза
            </label>
            <input type="radio" id="green" name="color" value="2" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="green">
              <div class="color-preview" style="background-color: #00970d;"></div>
              Зеленый
            </label>
            <input type="radio" id="blue" name="color" value="3" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="blue">
              <div class="color-preview" style="background-color: #0040c9;"></div>
              Синий
            </label>
            <input type="radio" id="terrakota" name="color" value="4" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="terrakota">
              <div class="color-preview" style="background-color: #b94400;"></div>
              Терракот
            </label>
            <input type="radio" id="teal" name="color" value="5" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="teal">
              <div class="color-preview" style="background-color: #00d49f;"></div>
              Бирюзовый
            </label>
            <input type="radio" id="white" name="color" value="6" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="white">
              <div class="color-preview" style="background-color: #ffffff;"></div>
              Белый
            </label>
            <input type="radio" id="pomegranate" name="color" value="7" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="pomegranate">
              <div class="color-preview" style="background-color: #b43434;"></div>
              Гранатовый
            </label>
            <input type="radio" id="milk" name="color" value="8" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="milk">
              <div class="color-preview" style="background-color: #f8f8f8;"></div>
              Молочный
            </label>
            <input type="radio" id="yellow" name="color" value="9" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="yellow">
              <div class="color-preview" style="background-color: #ebdb00;"></div>
              Желтый
            </label>
            <input type="radio" id="orange" name="color" value="10" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="orange">
              <div class="color-preview" style="background-color: #e79e00;"></div>
              Оранжевый
            </label>
            <input type="radio" id="red" name="color" value="11" v-model="selectRoofColor" @change="ApplyChanges">
            <label for="red">
              <div class="color-preview" style="background-color: #e70000;"></div>
              Красный
            </label>
          </div>
          <div class="col-md-8 preview">
            <div class="calculator-preview" v-bind:style="{ 'background-image': 'url(render/' + currentPicture + ')' }"></div>
            <div class="calculator-summary">
              <button type="button" data-toggle="modal" data-target="#call" class="btn summary-btn btn-block buy-btn">Связаться с экспертом</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
          


    <section id="kuznetcov">
      <div class="container-fluid" id="help">
        <div class="row">
          <div class="col-md-6">
            <div class="section-heading help-heading">
              <span>Бесплатная</span> помощь по монтажу от специалистов завода
            </div>
            <p class="help-caption">Мы записали серию обучающих роликов по Novattro&trade; PROF, благодаря которым смонтировать панели сможет каждый. </p>
            <p class="help-caption">
              Если у Вас останутся вопросы, Вы можете заказать звонок специалиста по замковым панелям Novattro&trade; PROF.
              Возможен выезд на сложные объекты. 
            </p>
            <a href="https://rutube.ru/video/1cfb00ad8801c302e02e404d2ed3e4d4/?r=wd" target="_blank" class="btn playlist-btn"><i class="fas fa-play"></i>Видео-инструкции по монтажу</a>
            <button type="button" data-toggle="modal" data-target="#call" class="btn call-btn"><i class="fas fa-phone"></i>Консультация со специалистом</button>
          </div>
        </div>
      </div>
    </section>

    <section id="buy" style="padding: 80px 0; background-color: #fff;">
      <div class="container-fluid">
        <div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center section-heading">
            Получите <span>бесплатную</span> консультацию по Novattro&trade; PROF
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <!-- Левая колонка: Призыв к действию (вместо формы) -->
          <div class="col-lg-5 col-md-6 mb-5 mb-md-0">
            <div class="order-form" style="padding: 40px; border-radius: 15px; box-shadow: 0 10px 30px rgba(0,0,0,0.1); background: #f9f9f9;">
              <h3 class="order-heading text-center" style="font-size: 24px; margin-bottom: 20px;">
                Нужен расчет или помощь в выборе?
              </h3>
              <p class="text-center" style="color: #666; margin-bottom: 30px; font-size: 16px; line-height: 1.6;">
                Обратитесь к нам напрямую для получения большей информации о замковых панелях. Наши специалисты ответят на все технические вопросы.
              </p>
              
              <div class="offer-list" style="margin-bottom: 30px;">
                <div class="offer" style="margin-bottom: 15px; display: flex; align-items: flex-start;">
                  <i class="fas fa-check" style="color: #28a745; margin-right: 10px; margin-top: 5px;"></i>
                  <span>Поможем выбрать панель под Ваши задачи</span>
                </div>
                <div class="offer" style="margin-bottom: 15px; display: flex; align-items: flex-start;">
                  <i class="fas fa-check" style="color: #28a745; margin-right: 10px; margin-top: 5px;"></i>
                  <span>Рассчитаем количество панелей и узлы примыкания</span>
                </div>
                <div class="offer" style="margin-bottom: 15px; display: flex; align-items: flex-start;">
                  <i class="fas fa-check" style="color: #28a745; margin-right: 10px; margin-top: 5px;"></i>
                  <span>Оформим заказ с доставкой или самовывозом</span>
                </div>
              </div>

              <!-- Кнопка вызывает то же модальное окно с выбором способа связи -->
              <button type="button" class="btn btn-block buy-btn order-btn" data-toggle="modal" data-target="#call" style="padding: 15px; font-size: 18px; font-weight: bold;">
                Получить бесплатную консультацию
              </button>
              
              <div class="text-center mt-3" style="font-size: 12px; color: #999;">
                Нажимаю кнопку, Вы соглашаетесь с <a href="https://safplast.ru/promo/dealer/pd.pdf" target="_blank" style="text-decoration: underline; color: #999;">политикой обработки данных</a>
              </div>
            </div>
          </div>

            <div class="col-lg-6 col-md-6 offset-lg-1">
              <div class="offer-big">
                <div class="row align-items-center">
                  <div class="col-md-12 mb-4">
                    <h4 class="offer-title" style="font-size: 28px; font-weight: 700; color: #333; margin-bottom: 20px;">
                      Несем финансовую ответственность в течение 15 лет!
                    </h4>
                    <p style="font-size: 16px; line-height: 1.7; color: #555; margin-bottom: 20px;">
                      Срок службы более 20 лет проверен в камерах старения. Не пожелтеет, не помутнеет, не треснет на солнце - за счет нанесения равномерного УФ-защитного слоя. Каждая партия проверяется ОТК, предоставляем паспорт качества.
                    </p>
                    <p style="font-size: 16px; line-height: 1.7; color: #555;">
                      Финансовая ответственность завода «СафПласт» за качество Novattro&trade; PROF задокументирована в декларации гарантии качества. Наши покупатели имеют право обратиться за выплатой компенсации.
                    </p>
                  </div>
                  <div class="col-md-12">
                    <!-- Блок с изображением ОТК (если оно есть в стилях, оставляем div) -->
                    <div class="otk-image" style="width: 100%; height: 300px; background-image: url('img/otk.jpg'); background-size: cover; background-position: center; border-radius: 10px; box-shadow: 0 5px 15px rgba(0,0,0,0.1);"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <section id="video">
      <video class="video" loop="loop" autoplay="" muted="">
        <source src="img/family.mp4" type="video/mp4" />
      </video>
      <div class="layer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="video-heading">
                Для себя - строю сам
              </div>
              <p class="video-text">
                Светопрозрачные замковые панели Novattro&trade; PROF — это современное решение для остекления фасада, теплой кровли, зенитных фонарей и прочих промышленных объектов
              </p>
              <a href="https://rutube.ru/video/491061001718039dc13b61722732e9da/?r=wd" target="_blank"><div class="play-video">Смотреть видео</div></a>
            </div>
          </div>
          <div class="row footer">
            <div class="col-md-2">
              <div class="footer-logo"></div>
            </div>
            <div class="col-sm">
              <div class="footer-heading">Производитель</div>
              <div class="about-manufacturer">
                Завод «СафПласт» — ведущий производитель светопрозрачных полимерных листов.<br />
                Тел.: +7 (843) 233-05-33 <br />
                Почта info@safplast.ru
              </div>
              <div class="about-manufacturer">
                ООО "СафПласт". Россия, Республика Татарстан, Высокогорский район, территория СафПласт, здание 1. Тел.: 8 843 233-05-33 
              </div>
              <a href="https://safplast.ru/" target="_blank"><div class="footer-link">Сайт завода</div></a>
              <a href="https://safplast.ru/about/kachestvo/" target="_blank"><div class="footer-link">О контроле качества</div></a>
            </div>
            <div class="col-sm">
              <div class="footer-heading">Узнать больше</div>
              <a href="https://safplast.ru/upload/pdf-dokumenty/declaracia_garantii_kachestva.pdf" target="_blank"><div class="footer-link">Финансовая ответственность</div></a>
              <a href="https://safplast.ru/upload/iblock/df0/1.-novattro-prof_zamkovye-polikarbonatnye-sistemy_obshchaya-info.pdf" target="_blank"><div class="footer-link">Презентация для оптовых покупателей</div></a>
              <a href="https://safplast.ru/upload/iblock/22a/6kwuy7iuarfdevy2rwn9t70se60xwshk/2.-Zamkovye-paneli-Novattro-PROF_razvernutaya_S-komplektatsiey.pdf" target="_blank"><div class="footer-link">Презентация комплектующих</div></a>
              <a href="https://safplast.ru/upload/iblock/e99/spudcvwefukqx56bo5630ct1zdhqksei/KHimicheskaya-ustoychivost.pdf" target="_blank"><div class="footer-link">Химическая устойчивость</div></a>
              <a href="https://safplast.ru/upload/iblock/6b6/gvnhr100mkgsdppbwjzj8vy86mhin4sy/book_album.pdf" target="_blank"><div class="footer-link">Альбом технических решений</div></a>
            </div>
            <div class="col-sm">
              <div class="footer-heading">Полезные ссылки</div>
              <a href="https://safplast.ru/support/book-polikarbonat/" target="_blank"><div class="footer-link">Книга "Поликарбонат. Применение в современном строительстве"</div></a>
              <a href="https://safplast.ru/promo/dealer/pd.pdf" target="_blank"><div class="footer-link">Политика обработки персональных данных</div></a>
              <div class="social-links">
                <a href="https://vk.com/safplast_ru" target="_blank"><img width="30" alt="1.png" src="https://safplast.ru/promo/social/vk.svg" height="40" title="Вконтакте «СафПласт»"></a>
<a href="https://max.ru/id1658086175_bot" target="_blank"><img width="30" alt="4.png" src="https://safplast.ru/promo/social/max.svg" height="40" title="Макс «СафПласт»"></a>
<a href="https://dzen.ru/safplast" target="_blank"><img width="30" alt="4.png" src="https://safplast.ru/promo/social/dzen.svg" height="40" title="Дзен «СафПласт»"></a> 
<a href="https://ok.ru/safplast" target="_blank"><img width="30" alt="4.png" src="https://safplast.ru/promo/social/odnoklassniki.svg" height="40" title="Одноклассники «СафПласт»"></a>
<a href="https://rutube.ru/channel/43017185/videos" target="_blank"><img width="30" src="https://safplast.ru/promo/social/rutube.svg" height="40" title="Rutube «СафПласт»"></a>
<a href="https://vk.com/video/@id305854665" target="_blank"><img width="30" src="https://safplast.ru/promo/social/vkvideo.svg" height="40" title="ВК Видео «СафПласт»"></a>

             </div>
            </div>
          </div>
          <div class="row copyright">

          </div>
        </div>
      </div>
    </sections>
  </footer>
          
<div class="modal fade" id="call" tabindex="-1" role="dialog" aria-labelledby="consultTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" style="background-color: #ffffff; border-radius: 15px; border: none; box-shadow: 0 15px 50px rgba(0,0,0,0.5);">
      
      <div class="modal-header" style="border-bottom: none; padding: 15px 20px 0;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 40px; line-height: 0.8; opacity: 1; color: #999;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 10px 40px 50px;">

        <div class="row align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0 text-center text-lg-left">
            <h5 style="font-size: 16px; color: #777; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 1px;">Бесплатная консультация</h5>
            <h2 style="font-size: 32px; font-weight: 800; color: #222; margin-bottom: 15px; line-height: 1.1;">Кузнецов Владимир<br>Анатольевич</h2>
            <p style="font-size: 18px; line-height: 1.4; color: #555; margin-bottom: 10px;">
              Руководитель направления<br>замковых панелей
            </p>
            <p style="font-size: 22px; font-weight: 800; color: #009846;">
              OОО «СафПласт»
            </p>
          </div>
          <div class="col-lg-6">

            <a href="V.Kuznetsov@safplast.ru" class="btn btn-block" style="background-color: #ffffff; color: #009846; border: 3px solid #009846; font-size: 20px; font-weight: 700; padding: 18px 10px; border-radius: 10px; text-decoration: none; transition: background 0.3s;">
              <i class="fas fa-envelope" style="margin-right: 15px;"></i> V.Kuznetsov@safplast.ru
            </a>
          </div>
        </div>

        <div class="row align-items-center"  style="padding-top: 40px;">
          <div class="col-lg-6 mb-4 mb-lg-0 text-center text-lg-left">
            <h5 style="font-size: 16px; color: #777; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 1px;">Бесплатная консультация</h5>
            <h2 style="font-size: 32px; font-weight: 800; color: #222; margin-bottom: 15px; line-height: 1.1;">Амосов Дмитрий<br>Витальевич</h2>
            <p style="font-size: 18px; line-height: 1.4; color: #555; margin-bottom: 10px;">
              Руководитель направления<br>тендеры и объектовые поставки
            </p>
            <p style="font-size: 22px; font-weight: 800; color: #009846;">
              OОО «СафПласт»
            </p>
          </div>

          <div class="col-lg-6">
            <a href="tel:+78432330292" class="btn btn-block" style="background-color: #009846; color: #ffffff; font-size: 24px; font-weight: 700; padding: 20px 10px; margin-bottom: 20px; border-radius: 10px; box-shadow: 0 5px 20px rgba(0, 152, 70, 0.4); text-decoration: none; transition: transform 0.2s;">
              <i class="fas fa-phone" style="margin-right: 15px; font-size: 0.9em;"></i> 8 (843) 233-02-92
            </a>

            <a href="mailto:D.Amosov@safplast.ru" class="btn btn-block" style="background-color: #ffffff; color: #009846; border: 3px solid #009846; font-size: 20px; font-weight: 700; padding: 18px 10px; border-radius: 10px; text-decoration: none; transition: background 0.3s;">
              <i class="fas fa-envelope" style="margin-right: 15px;"></i> D.Amosov@safplast.ru
            </a>
          </div>
        </div>

        
      </div>

    </div>
  </div>
</div>